
* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    }
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c4c5c5;
}
.container{
    margin: 20px auto;
    width: 750px;
}

@media (min-width :576px) {
    .container{
        width: 540px;
       
    }
 } 
 @media (min-width :768px) {
    .container{
        width: 740px;
    }
 }
 
 @media (min-width :992px) {
    .container{
        width: 950px;
    }
 }
 
 @media (min-width :1200px) {
    .container{
        width: 1170px;    
        }
 }
 
hr{
    border: 1px solid #eee;
}
header{
    display: flex;
}

.game-name{
    flex: 1;
    font-size: 24px;
}
.category{
    flex: 1;
    font-size: 18px;
    text-align: right;
}

@media (min-width :576px) {
    .category{
        font-size: 18px;
       
    }
 } 
.category span{
    text-transform: capitalize;
    font-weight: bold;
    color: #000;
}
.man{
    position: relative;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.wrong-1 .hang{
    display: block;
}
 .hang{
    background-image: url(../img/IMG_20240928_060504.jpg);
    background-size: cover;
    width: 405px;
    height: 60px;
    display: none;
}
.wrong-2 .head{
    display: block;
}
.head{
    background-image: url(../img/IMG_20240928_060547.jpg);
    background-size: cover;
    width: 405px;
    height: 60px;
    position: absolute;
    top: 51px;
    display: none;
}
.wrong-3 .body{
    display: block;
}
.body{
    background-image: url(../img/IMG_20240928_060604.jpg);
    background-size: cover;
    width: 405px;
    height: 60px;
    position: absolute;
    top: 99px;
    display: none;
}
.wrong-4 .hands{
    display: block;
}
.hands{
    background-image: url(../img/IMG_20240928_060622.jpg);
    background-size: cover;
    width: 405px;
    height: 94px;
    position: absolute;
    top: 155px;
    display: none;
}
.wrong-5 .legs{
    display: block;
}
.legs{
    background-image: url(../img/IMG_20240928_060639.jpg);
    background-size: cover;
    width: 405px;
    height: 152px;
    position: absolute;
    top: 243px;
    display: none;
}
.letters{
    position: absolute;
    flex: 1;
    padding: 15px;
    text-align: center;
    bottom: 10px;
}
@media (max-width :768px) {
    .letters {
        bottom: -11px;
    }
 }
@media (max-width :576px) {
    .letters {
        bottom: -11px;
    }
 } 
.finished{
    pointer-events: none;
}

.letters .leter-box{
    width: 35px;
    height: 45px;
    display: inline-block;
    background-color: #467575;
    color: #ffffff;
    font-size: 30px;
    margin-right: 10px;
    line-height: 55px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 14px;
}

@media (min-width :576px) {
    .letters .leter-box{
        margin-bottom: 4px;
    }
 } 
.letters .leter-box.clicked{
    background-color: #000;
    opacity: .2;
    pointer-events: none;
}
.letters-guess{
    margin: 10px auto;
    background-color: #eeeeee63;
    padding: 20px;
    display: flex;
    justify-content: center;
    min-height: 104px;
    position: relative;
    top: 380px;
}

@media (max-width :576px) {
    .letters-guess{
        top: 250px;
    }
 } 
.letters-guess span{
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin-right: 10px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #eeeeee40;
    border-bottom: 3px solid #467575;
    transition: .3s;
}

@media (min-width :576px) {
    .letters-guess span{
        width: 40px;
        height: 60px;   
     }
 } 
.letters-guess span.with-span{
    background: none;
    border-bottom: none;
    position: relative;
}
.letters-guess span.with-span::before{
    content: "";
    width: 20px;
    height: 4px;
    background-color:#467575;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.popup{
    position: fixed;
    background-color: #809393bf;
    padding: 100px 20px;
    top: 33%;
    text-align: center;
    font-size: 40px;
    border: 1px solid #ccc;
    color: #1f3737;
}
.add{
    position: fixed;
    background-color: #417f7fc9;
    padding: 20px 20px;
    top: 56%;
    left: 33%;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ccc;
    color: #1d3333;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10%;
}

@media (max-width :576px) {
    .add{
        top: 60%;
    }
 } 